# Игнорируем Git
.git
.gitignore

# Игнорируем локальное виртуальное окружение Python (оно весит сотни мегабайт!)
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Игнорируем настройки IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Игнорируем локальные папки с кэшем браузеров (если скачивали локально)
.cache/
.cache/ms-playwright/

# Игнорируем логи, временные файлы и локальные базы данных
*.log
temp/
data/
output/
*.db
*.sqlite

# Системные файлы
.DS_Store
Thumbs.db