requests~=2.31.0
pandas~=2.1.0
openai==1.21.2
google-generativeai==0.5.1
gspread~=5.12.2
gspread_dataframe==3.3.1
gs_update_utils==1.0.4
pydantic~=1.10.4
oauth2client==4.1.3
webdriver-manager==4.0.1
pyvirtualdisplay==3.0
asyncio~=3.4.3
python-dotenv~=1.0.0
protobuf~=4.25.2
httpx~=0.27.0
SQLAlchemy~=2.0.31
numpy==1.26.4
google-api-python-client~=2.121.0
fake-useragent~=1.5.1
aiohttp~=3.9.1
asyncpg==0.27.0
aiohttp_proxy==0.1.2
cloudscraper==1.2.71
2captcha-python==1.5.0
selenium==4.25.0
seleniumbase==4.31.6
beautifulsoup4==4.12.3
youtube-comment-downloader==0.1.76
curl_cffi==0.7.3
pyrogram==2.0.106
tgcrypto==1.2.5
pyscreeze==1.0.1



